@page "/ViewPosts"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService
<h3>ViewPosts</h3>

<div>
    <button @onclick="LoadPosts">Load</button>
</div>

@if (_posts == null)
{
    
} else if (!_posts.Any())
{
    <p>No Posts to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Post ID</th>
            <th>Owner ID</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _posts)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Owner</td>
                <td>@item.Title</td>
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? _posts;
    private string msg = "";

    private async Task LoadPosts()
    {
        try
        {
            _posts = await postService.GetAsync(null, null, null, null);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}